.div-15 {
  max-width: 913px;
  margin-top: 80px;
margin-left: 150px;
}

.div-16 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-16 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.div-17 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .div-17 {
    width: 100%;
  }
}

.img10 {
  aspect-ratio: 1.02;
  object-fit: auto;
  object-position: center;
  max-width: 100%;
  flex-grow: 1;
  margin-top: 90px;
}

@media (max-width: 991px) {
  .img10 {
    margin-top: 39px;
  }
}

.div-18 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 70%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .div-18 {
    width: 100%;
  }
}

.div-19 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
    margin-top: 36px;
  }
}

.div-20 {
  color: #006ab8;
  letter-spacing: -1px;
  font: 700 30px/70px Jost, sans-serif;
}

@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
  }
}

.div-21 {
  color: #666;
  margin-top: 100px;
  font: 400 26px/33px Jost, sans-serif;
}

@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    margin-top: 40px;
  }
}
